/*-------------------------------------------
 *   Application Styling
-------------------------------------------*/

/* --- Modal Styling ---*/


/* --- Dynamic classes for types ---*/
    
.normal {
    background-color: rgb(212, 212, 212);
}
.fire {
    background-color: rgb(182, 92, 92);
}
.grass {
    background-color: rgb(110, 212, 110);
}
.water {
    background-color: rgb(101, 174, 216);
}
.electric {
    background-color: rgb(238, 212, 98);
}
.flying {
    background-color: rgb(168,144,240);
}
.fighting {
    background-color: rgb(192,48,40);
}
.poison {
    background-color: rgb(160,64,160);
}
.ground {
    background-color: rgb(224,192,104);
}
.rock {
    background-color: rgb(184,160,56);
}
.psychic {
    background-color: rgb(248,88,136);
}
.ice {
    background-color: rgb(152,216,216);
}
.bug {
    background-color: rgb(168,184,31);
}
.ghost {
    background-color: rgb(112,88,152);
}
.steel {
    background-color: rgb(184,184,208);
}
.dragon {
    background-color: rgb(112,56,248);
}
.dark {
    background-color: rgb(112,88,72);
}
.fairy {
    background-color: rgb(238,153,172); 
}

/* ------------------------------------------
*   Layouts
-------------------------------------------*/

*{
font-size: 1rem;
}

body {
display: flex;
flex-direction: column;
margin: 0;
font-family: Helvetica, sans-serif;
}

/* Header */

.top {
min-height: 15vh;
background-color: rgb(180, 45, 45);
}

/* Center content */

.center {

display: flex;
background-color: rgb(202, 179, 159);
min-height: 70vh;

}

.side{
background-color: rgb(212, 212, 212);
flex: 1;
}

#app{
background-color: rgb(255, 255, 255);
flex: 9;
padding: 1.5rem;
}

#create-form {
text-align: center;

}

h1 {
text-align: center;
color: whitesmoke;
font-size: 3rem;
margin: 0.5rem;
}

input, select {
background-color: rgb(233, 205, 205);
}